* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  text-decoration: underline red;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  font-size: 220%;
  font-weight: bold;
}
h2 {
  font-weight: bold;
  color: #005A9C;
  font-size: 140%;
  text-transform: uppercase;
}
p {
  margin: 1em 0;
}
pre {
  padding: 0px;
  border:0px;
  border-radius: 0px;
}
red {
  color: red;
}
a {
  color: #337ab7;
}
a:visited {
  color: #8d75a3;
}
a:hover {
  color:#23527c;
}
#controls {
  display: flex;
  margin-top: 2rem;
}
button {
  flex-grow: 1;
  height: 2.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1rem;
}
button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
@keyframes bg-pulse {
  0% {
    background-color: #fff;
  }

  50% {
    background-color: #c7ecee;
  }

  100% {
    backgrouond-color: #fff;
  }
}
#result {
  color: #666;
  font-style: italic;
  text-align: center;
}
#result .final {
  color: #0d122b;
  font-style: normal;
}
button:hover,
button:focus {
  background: #f22f46;
  color: #fff;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
}
main.speaking {
  animation: bg-pulse 1.5s alternate ease-in-out infinite;
}
